<!--order-process-system-->
<div class="order-process-system">
<!--    <div class="container">-->
<!--        <div class="order-process-main">-->

<!--            <div class="order-process-system-info complate-process" >-->
<!--                <span><i class="fa fa-shopping-cart"></i></span>-->
<!--                <h3>My Cart</h3>-->
<!--            </div>-->

<!--&lt;!&ndash;             <div class="order-process-system-info complate-process" >&ndash;&gt;-->
<!--&lt;!&ndash;                <span><i class="fa fa-map"></i></span>&ndash;&gt;-->
<!--&lt;!&ndash;                <h3>Shipping Info</h3>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--             <div class="order-process-system-info complate-process">-->
<!--                <span><i class="fa fa-credit-card"></i></span>-->
<!--                <h3>Checkout</h3>-->
<!--            </div>-->

<!--             <div class="order-process-system-info active-process">-->
<!--                <span><i class="fa fa-check-circle"></i></span>-->
<!--                <h3>Confirmation</h3>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
</div>

<!---confirm-area-->
<div class="confirm-area">
    <div class="container">
        <div class="confirm-main">
            <div class="confirm-info">
                <div class="confirm-check">
                    <span><i class="fa fa-check"></i></span>
                  <div class="confirm-text1">
                  <p> Your Order ID: {{orderId}}</p>
                  </div>
                </div>
                <div class="confirm-text">
                    <h3>Your Order Placed Successfully!</h3>
                    <p>আপনার অরডারটি সফল ভাবে সম্পন্ন হয়েছে।
                      আমাদের কাস্টমার কেয়ার প্রতিনিধি শীঘ্রই আপনাকে ফোন করে অর্ডার কনফার্ম করে দিবে।</p>
                </div>
            </div>
            <div class="confirm-btn-area">
                <ul>
                    <li><button routerLink="/products">Continue Shopping</button></li>
                    <li><button class="active-track" routerLink="/account/order-list">View Orders</button></li>
                </ul>
            </div>

        </div>
    </div>
</div>
