<div class="banner-area">
  <div class="container">
    <div class="banner-main">
      <h1 *ngIf="isLoading">All Categories</h1>
      <h1 *ngIf="!isLoading">
        {{categories.length ? 'All Categories' : 'No Categories Found'}}
      </h1>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><span>/</span></li>
        <li><a routerLink="/brands">All Categories</a></li>
      </ul>
    </div>
  </div>
</div> <!-- END Top Banner -->


<!---section-1-->
<div class="section-1">
  <div class="container">
    <div class="section1-main">
      <div class="show-product-area">
        <div class="show-product-header">
          <form class="table-search" #searchForm=ngForm>
            <input type="text"
                   #searchInput
                   name="searchTerm"
                   autocomplete="off"
                   ngModel placeholder="Search">
            <button><i class="fa fa-search"></i></button>
          </form>
        </div>

        <div class="show-product-main grid" >
          <ng-container >
            <app-category-card-one
              *ngFor="let data of categories | paginate: { itemsPerPage: categoriesPerPage, currentPage: currentPage, totalItems: totalCategories } ; let i = index"
              [data]="data">
            </app-category-card-one>
          </ng-container>
        </div>

        <div class="pagination-container">
          <pagination-controls
            class="data-pagination"
            [autoHide]="true"
            [maxSize]="15"
            (pageChange)="onPageChanged($event)">
          </pagination-controls>
        </div>

      </div>

    </div>
  </div>
</div>
