<div *ngIf="data" class="product" [id]="data?._id" [routerLink]="['/offer-product',data?.slug2,data?.slug]">
  <div class="product-image">
    <img checkImageDefault [src]=" data.images && data.images.length ? data.images[0] : ''" alt=""/>
    <div class="icons">
      <ul>
        <!--        <li><a href="javascript:"><i class="fa-solid fa-shuffle"></i></a></li>-->
        <li *ngIf="data?.videoUrl"><a (click)="openYoutubeVideoDialog($event, data?.videoUrl)"><i
          class="fa fa-play"></i></a></li>
        <!--        <li><a href="javascript:"><i class="fa fa-eye"></i></a></li>-->
      </ul>
    </div>
    <!--tag-->
    <div class="tag">
      <span>New</span>
    </div>

    <!---wish-->
    <span matTooltip="Wishlist" (click)="onAddToWishList($event)" [class.active-wish-list]="wishlist" class="wish"><i
      class="fa fa-heart"></i></span>
<!--    <span matTooltip="Compare" (click)="addToCompareList($event, data)" class="compare-icon">-->
<!--      <mat-icon>compare</mat-icon>-->
<!--    </span>-->
  </div>
  <div class="product-body">
<!--    <div class="rating-area">-->
<!--      <ul>-->
<!--        <li><i class="fa fa-star"></i></li>-->
<!--        <li><i class="fa fa-star"></i></li>-->
<!--        <li><i class="fa fa-star"></i></li>-->
<!--        <li><i class="fa fa-star"></i></li>-->
<!--        <li><i class="fa fa-star"></i></li>-->
<!--        <li><span>(3)</span></li>-->
<!--      </ul>-->
<!--    </div>-->
    <a [routerLink]="['/offer-product',data?.slug2,data?.slug]" routerLinkActive="router-link-active">{{ data.name }}</a>
    <div class="product-price">
      <span *ngIf="data?.discountAmount && data?.discountAmount > 0" class="prevPrice">৳{{ data.salePrice }}</span>
      <span class="currPrice">৳{{ data | price: 'salePrice' | number : '' : 'bn' }}
        <small *ngIf="data?.unit">/ {{data?.unit}}</small>
    </span>
    </div>

    <div class="product-price">
      <h3 *ngIf="data?.discountAmount" style="{margin-top: 30px;}">
        Discount :
        <span class="currPrice" *ngIf="data?.discountType===2" >
                     ৳{{data?.discountAmount}}
                    </span>
        <span class="currPrice" *ngIf="data?.discountType===1" >
                     {{data?.discountAmount}} %
                    </span>
      </h3>
    </div>
    <button
      *ngIf="!cart"
      (click)="onAddToCart($event)"
      class="product-button"><i class="fa-solid fa-basket-shopping"></i> Add
    </button> <!-- END MAIN CART BTN -->

    <div class="cart-action" *ngIf="cart">
      <button class="left" (click)="onDecrementQty($event)">
        <span class="material-icons">remove</span>
      </button>
      <p>{{cart?.selectedQty}} <span>in cart</span></p>
      <button class="right" (click)="onIncrementQty($event)">
        <span class="material-icons">add</span>
      </button>
    </div> <!-- END CART CONTROL AREA -->
  </div>
</div>
