


<div class="time-container-1">
  <div class="time-container">
    <div class="show-time">
      <span>{{ daysToDday | numMinDigit}}</span>
      <small>Days</small>
    </div>
    <div class="show-time">
      <span>{{ hoursToDday | numMinDigit}}</span>
      <small>Hours</small>
    </div>
    <div class="show-time">
      <span>{{ minutesToDday | numMinDigit}}</span>
      <small>Minutes</small>
    </div>
    <div class="show-time">
      <span>{{ secondsToDday | numMinDigit}}</span>
      <small>Seconds</small>
    </div>
  </div>
</div>
