<!--<div class="banner-area">-->
<!--  <div class="container">-->
<!--    <div class="banner-main">-->
<!--      <h1 *ngIf="isLoading">Product List</h1>-->
<!--      <h1 *ngIf="!isLoading">-->
<!--        {{products.length ? 'Product List' : 'No Products Found'}}-->
<!--      </h1>-->
<!--      <ul>-->
<!--        <li><a routerLink="/">Home</a></li>-->
<!--        <li><span>/</span></li>-->
<!--        <li><a (click)="onNavigateAllProducts()">All Products</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div> &lt;!&ndash; END Top Banner &ndash;&gt;-->


<div class="product-list-area">
  <div class="container">
    <div class="product-list-main">

      <div class="product-filter-area" [class]="filterSlide?'filter-slide-active':'filter-slide-inactive'">

<!--        <div class="product-filter-offer">-->
<!--          <img src="./assets/images/temp/image/product-list-offer.jpg" alt="">-->
<!--        </div>-->

        <div class="filtered">
          <div class="filter-title">
            <h3>FILTER BY PRICE</h3>
          </div>
          <div class="filter-body">
            <div class="price">
              <div>
                <input type="number" [(ngModel)]="lowValue" placeholder="Min - 00">
              </div>
              <div>
                <input type="number" [(ngModel)]="highValue" placeholder="Max - 5k">
              </div>
            </div>
          </div>
          <div class="filter-btn">
            <button type="button" (click)="onPriceRangeChange()"><i class="fa fa-search"></i>Search</button>
          </div>
        </div> <!-- END PRICE FILTER AREA -->

        <div class="filtered">
          <div class="filter-title">
            <h3>FILTER BY CATEGORY</h3>
          </div>
<!--          <div class="filter-search">-->
<!--            <input type="text" value="" placeholder="Search...">-->
<!--          </div>-->
          <div class="filter-body">
            <ul>
              <li *ngFor="let data of productFilterGroup?.categories; let i =index">
                <mat-checkbox
                  [checked]="data.select"
                  class="mat-check"
                  (change)="onCheckChange($event, 'category', i)">
                  <div>
                    <span>{{data.name}}</span>
                  </div>
                  <div>
                    <span>({{data.total}})</span>
                  </div>
                </mat-checkbox>
              </li>
            </ul>
          </div>
          <div class="filter-btn">
            <button (click)="resetCategoryFilter()"><i class="fa fa-trash"></i>Clear</button>
          </div>
        </div><!-- END FILTER BY CATEGORY -->

        <div class="filtered">
          <div class="filter-title">
            <h3>FILTER BY SUB CATEGORY</h3>
          </div>
          <div class="filter-body">
            <ul>
              <li *ngFor="let data of productFilterGroup?.subCategories; let i =index">
                <mat-checkbox
                  [checked]="data.select"
                  class="mat-check"
                  (change)="onCheckChange($event, 'subCategory', i)">
                  <div>
                    <span>{{data.name}}</span>
                  </div>
                  <div>
                    <span>({{data.total}})</span>
                  </div>
                </mat-checkbox>
              </li>
            </ul>
          </div>
          <div class="filter-btn">
            <button (click)="resetSubCategoryFilter()"><i class="fa fa-trash"></i>Clear</button>
          </div>
        </div><!-- END FILTER BY SUB CATEGORY -->

        <div class="filtered">
          <div class="filter-title">
            <h3>FILTER BY BRAND</h3>
          </div>
<!--          <div class="filter-search">-->
<!--            <input type="text" value="" placeholder="Search...">-->
<!--          </div>-->

          <div class="filter-body">
            <ul>
              <li *ngFor="let data of productFilterGroup?.brands; let i =index">
                <mat-checkbox
                  [checked]="data.select"
                  class="mat-check"
                  (change)="onCheckChange($event, 'brand', i)">
                  <div>
                    <span>{{data.name}}</span>
                  </div>
                  <div>
                    <span>({{data.total}})</span>
                  </div>
                </mat-checkbox>
              </li>
            </ul>
          </div>

          <div class="filter-btn">
            <button (click)="resetBrandFilter()"><i class="fa fa-trash"></i>Clear</button>
          </div>
        </div><!-- END FILTER BY BRAND -->

<!--        <div class="filtered">-->
<!--          <div class="filter-title">-->
<!--            <h3>FILTER BY RATING</h3>-->
<!--          </div>-->
<!--          <div class="filter-body">-->
<!--            <ul>-->
<!--              <li>-->
<!--                <mat-checkbox class="mat-check">-->
<!--                  <div>-->
<!--                    <i class="fa-solid fa-star"></i>-->
<!--                    <i class="fa-solid fa-star"></i>-->
<!--                    <i class="fa-solid fa-star"></i>-->
<!--                    <i class="fa-solid fa-star"></i>-->
<!--                    <i class="fa-solid fa-star"></i>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <span>(500)</span>-->
<!--                  </div>-->
<!--                </mat-checkbox>-->
<!--              </li>-->

<!--              <li>-->
<!--                <mat-checkbox class="mat-check">-->
<!--                  <div>-->
<!--                    <i class="fa-solid fa-star"></i>-->
<!--                    <i class="fa-solid fa-star"></i>-->
<!--                    <i class="fa-solid fa-star"></i>-->
<!--                    <i class="fa-solid fa-star"></i>-->
<!--                    <i class="fa-regular fa-star"></i>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <span>(300)</span>-->
<!--                  </div>-->
<!--                </mat-checkbox>-->
<!--              </li>-->

<!--              <li>-->
<!--                <mat-checkbox class="mat-check">-->
<!--                  <div>-->
<!--                    <i class="fa-solid fa-star"></i>-->
<!--                    <i class="fa-solid fa-star"></i>-->
<!--                    <i class="fa-solid fa-star"></i>-->
<!--                    <i class="fa-regular fa-star"></i>-->
<!--                    <i class="fa-regular fa-star"></i>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <span>(100)</span>-->
<!--                  </div>-->
<!--                </mat-checkbox>-->
<!--              </li>-->

<!--              <li>-->
<!--                <mat-checkbox class="mat-check">-->
<!--                  <div>-->
<!--                    <i class="fa-solid fa-star"></i>-->
<!--                    <i class="fa-solid fa-star"></i>-->
<!--                    <i class="fa-regular fa-star"></i>-->
<!--                    <i class="fa-regular fa-star"></i>-->
<!--                    <i class="fa-regular fa-star"></i>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <span>(40)</span>-->
<!--                  </div>-->
<!--                </mat-checkbox>-->
<!--              </li>-->

<!--              <li>-->
<!--                <mat-checkbox class="mat-check">-->
<!--                  <div>-->
<!--                    <i class="fa-solid fa-star"></i>-->
<!--                    <i class="fa-regular fa-star"></i>-->
<!--                    <i class="fa-regular fa-star"></i>-->
<!--                    <i class="fa-regular fa-star"></i>-->
<!--                    <i class="fa-regular fa-star"></i>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <span>(5)</span>-->
<!--                  </div>-->
<!--                </mat-checkbox>-->
<!--              </li>-->

<!--            </ul>-->
<!--          </div>&lt;!&ndash;-end&ndash;&gt;-->
<!--          &lt;!&ndash;filter-btn&ndash;&gt;-->
<!--          <div class="filter-btn">-->
<!--            <button><i class="fa fa-trash"></i>Clear</button>-->
<!--          </div>-->
<!--        </div>-->
        <!-- END FILTER BY RATING -->

      </div> <!-- END LEFT FILTER AREA-->

      <div class="show-product-area">
        <div class="show-product-header">
          <div class="show-select select">
            <div>
              <h3>SHOW :</h3>
            </div>
            <div>
              <select [(ngModel)]="productsPerPage" (ngModelChange)="onChangePageSize($event)">
                <option [value]="9">9</option>
                <option [value]="12">12</option>
                <option [value]="24">24</option>
                <option [value]="36">36</option>
              </select>
            </div>
          </div>

          <div class="icon-menu">
            <ul>
              <li><span (click)="changeViewLayout('grid')" [ngClass]="{'active': selectedViewType == 'grid'}"><i
                class="fas fa-th-large"></i></span></li>
              <li><span (click)="changeViewLayout('list')" [ngClass]="{'active': selectedViewType == 'list'}"><i
                class="fas fa-th-list"></i></span></li>
              <li class="filter"><span (click)="filterSlideToggle()" [ngClass]="{'active': filterSlide == true}"><i
                class="fa fa-filter"></i></span></li>
            </ul>
          </div>
        </div> <!-- END PRODUCT HEADER ACTION AREA -->

        <div class="show-product-main grid" *ngIf="selectedViewType === 'grid'">
          <ng-container *ngIf="isLoading">
            <app-product-car-one-loader [type]="'grid'"
                                        *ngFor="let product of  [1,2,3,4,5,6]"></app-product-car-one-loader>
          </ng-container>
          <ng-container *ngIf="!isLoading">
            <app-product-card-one
              *ngFor="let product of  products| paginate: { itemsPerPage: productsPerPage, currentPage: currentPage, totalItems: totalProducts } ; let i = index"
              [data]="product">
            </app-product-card-one>
          </ng-container>
        </div> <!-- MAIN PRODUCTS LIST -->

        <div class="show-product-main-list" *ngIf="selectedViewType === 'list'">
          <ng-container *ngIf="isLoading">
            <app-product-car-one-loader [type]="'list'"
                                        *ngFor="let product of  [1,2,3,4,5,6]"></app-product-car-one-loader>
          </ng-container>
          <ng-container *ngIf="!isLoading">
            <app-feature-card
              *ngFor="let product of  products| paginate: { itemsPerPage: productsPerPage, currentPage: currentPage, totalItems: totalProducts } ; let i = index"
              [product]="product">
            </app-feature-card>
          </ng-container>
        </div> <!-- MAIN PRODUCTS LIST -->

        <div class="pagination-container">
          <pagination-controls
            class="data-pagination"
            [autoHide]="true"
            [maxSize]="15"
            (pageChange)="onPageChanged($event)">
          </pagination-controls>
        </div> <!-- END PAGINATION -->


      </div> <!-- END RIGHT PRODUCTS VIEW AREA-->

    </div>
  </div>
</div>
<div class="overlay" (click)="filterSlideToggle()" *ngIf="filterSlide == true"></div>
