@import'src/theme/variables';


.brand-card{
  display: block;
  width:100%;
  cursor: pointer;
  text-align: center;
}
.brand-image{
  position: relative;
  z-index: 10;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.brand-image::after{
  content: "";
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px dashed $color-border;
  position: absolute;
  margin: auto;
  z-index: -10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;

}

.brand-card:hover .brand-image::after{
  animation: rotated 3s linear infinite;
  border-color: $color-primary;
}
@keyframes rotated{
  0%{
    transform: rotate(-0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}
.brand-image .link{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  left: 0px;
  right: 0px;
  margin: auto;
  backdrop-filter: blur(0px);
}
.brand-image img{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: auto;
}
.brand-image:hover .link{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.brand-body{
  display: block;
}
.brand-body h4{
  color: $heading-color;
  font-family: $font-en-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  display: block;
  margin-bottom: 6px!important;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.brand-body h5{
  color: $text-color;
  font-family: $font-en-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  display:block;
  line-height: 20px;
}

::ng-deep.section7-main.carousel .swiper-slide{
  padding: 20px 1px 5px 1px;
  box-sizing: border-box;
}
@media(max-width:400px){

  .brand-image::after{
    width: 160px;
    height: 160px;
  }
  .brand-body h4{
    font-size: 18px;
  }
}

.link{
  display: flex;
  align-items:center;
  justify-content:center;
  width: 100%;
  height:100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 8px;
  transform:scale(0);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
  transform-origin: center;
  backdrop-filter: blur(1px);
}

.link a{
  display:flex;
  align-items: center;
  justify-content:center;
  color: #fff;
  background-color: $color-primary;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  box-shadow: $box-shadow-primary;
  transition: all 0.3s linear;
}
.link a:hover{
  background-color: #fff;
  color: $color-primary;
}
