<div *ngIf="product" class="product"  [routerLink]="['/products/details',product?.slug]">
  <!----future-card-img-->
  <div class="product-image">
    <img checkImageDefault [src]="product?.images && product.images.length? product.images[0] : ''" alt="">
    <div class="icons">
      <ul>
<!--        <li><a href="javascript:"><i class="fa-solid fa-shuffle"></i></a></li>-->
        <li *ngIf="product?.videoUrl"><a (click)="openYoutubeVideoDialog($event, product?.videoUrl)"><i class="fa fa-play"></i></a></li>
<!--        <li><a href="javascript:"><i class="fa fa-eye"></i></a></li>-->
      </ul>
    </div>
    <!--tag-->
    <div class="tag">
      <span>Feature</span>
    </div>
    <!---wish-->
    <span matTooltip="Wishlist" (click)="onAddToWishList($event)" [class.active-wish-list]="wishlist" class="wish"><i class="fa fa-heart"></i></span>

<!--    <span matTooltip="Compare" (click)="addToCompareList($event, product)" class="compare-icon">-->
<!--      <mat-icon>compare</mat-icon>-->
<!--    </span>-->

  </div>
  <div class="product-body">
    <a [routerLink]="['/products/details',product?.slug]" routerLinkActive="router-link-active">{{product?.name}}</a>
<!--    <div class="rating-area">-->
<!--      <ul>-->
<!--        <li><i class="fa fa-star"></i></li>-->
<!--        <li><i class="fa fa-star"></i></li>-->
<!--        <li><i class="fa fa-star"></i></li>-->
<!--        <li><i class="fa fa-star"></i></li>-->
<!--        <li><i class="fa fa-star"></i></li>-->
<!--        <li><span>(3 Reviews)</span></li>-->
<!--      </ul>-->
<!--    </div>-->
    <div class="product-price">
      <span *ngIf="product?.discountAmount && product?.discountAmount > 0" class="prevPrice">৳{{ product.salePrice }}</span>
      <span class="currPrice">৳{{ product | price: 'salePrice' | number : '' : 'bn' }}
        <small *ngIf="product?.unit">/ {{product?.unit}}</small>
    </span>
    </div>

    <div class="product-price">
      <h3 *ngIf="product?.discountAmount">
        Discount :
        <span class="currPrice" *ngIf="product?.discountType===2" >
                     ৳{{product?.discountAmount}}
                    </span>
        <span class="currPrice" *ngIf="product?.discountType===1" >
                     {{product?.discountAmount}} %
                    </span>
      </h3>
    </div>

    <!--product-desc-->
    <div class="product-desc">
      <p>Category - {{product?.category?.name}}</p>
    </div>

    <button
      *ngIf="!cart"
      (click)="onAddToCart($event)"
      class="product-button"><i class="fa-solid fa-basket-shopping"></i> Add
    </button> <!-- END MAIN CART BTN -->

    <div class="cart-action" *ngIf="cart">
      <button class="left" (click)="onDecrementQty($event)">
        <span class="material-icons">remove</span>
      </button>
      <p>{{cart?.selectedQty}}</p>
      <button class="right" (click)="onIncrementQty($event)">
        <span class="material-icons">add</span>
      </button>
    </div> <!-- END CART CONTROL AREA -->

  </div>
</div><!---end-->





